{% extends "base.html" %}

{% block main %}
<label class="nhsuk-label" for="example">
  (**document name**)
</label>
<div class='formWrapper'>
  <div class='row'>
    <div class='columnL'>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          Markdown 
        </label>
        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </textarea>
      </div>
    </div>
    <div class='columnR'>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="example">
          Web view
        </label>
        <textarea class="nhsuk-textarea" id="example" name="example" rows="5" aria-describedby="example-hint"></textarea>
      </div>
    </div>
  </div>
</div>

<form action="/variables_saved" method="post">
    {% csrf_token %}



    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
    
  </form>

  
    
{% endblock %}