{% extends "base.html" %}

{% block main %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  function update_web_view() {
    var text_md = document.getElementById("id_text_md");
    var web_view = document.getElementById("id_web_view");
    event = new Event('change');
    web_view.innerHTML = marked.parse(text_md.value);
    web_view.dispatchEvent(event);
  };

  window.onload = function() { update_web_view()}
</script>

<style>
  div.editable {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
  }

  strong {  
    font-weight: bold;
  }
</style>


<label class="nhsuk-label" for="example">
  Markdown file: {{ document_name }}
</label>
<div class='formWrapper'>
  <div class='row'>
    <div class='columnL'>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="id_text_md">
          Markdown 
        </label>
        {{ text_md }}
      </div>
    </div>
    <div class='columnR'>
      
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="id_web_view">
            Web view
          </label>
        <div id="id_web_view" class="nhsuk-textarea"></div>
        <!---<textarea class="nhsuk-textarea" id="id_web_view" name="example" rows="5" aria-describedby="example-hint"></textarea>-->
      </div>
    </div>
  </div>
</div>

<form action="/variables_saved" method="post">
    {% csrf_token %}



    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
    
  </form>

  
    
{% endblock %}