{% extends "base.html" %}

{% block main %}
<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
  <h1 class="nhsuk-fieldset__heading">
    Please enter placeholders
  </h1>
</legend>

<form action="/placeholders_saved" method="post">
    {% csrf_token %}
    {% if form.errors %}
      <ul class="errors">
          {% for error in form.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      </ul>
    {% endif %}

    {% for field in form %}
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="id_{{ field.name }}">
        {{ field.label }} ({{ field.name }})
      </label>
      {{ field }}
    </div>
    {% endfor %}

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
    
  </form>

  
    
{% endblock %}