{% extends "base.html" %}

{% block main %}
<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
  <h1 class="nhsuk-fieldset__heading">
    Please log your hazard here
  </h1>
</legend>
<div class="nhsuk-hint" id="contact-hint">
  Enter details of the hazard here. On pressing submit, these will be added to Github to then
  be actioned.
</div>

{% include "error_summary.html" %}

<form action="/log_hazard" method="post">
    {% csrf_token %}
   
    {% for field in form %}
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="id_{{ field.name }}">
        {{ field.label }}
      </label>
      {{ field }}
    </div>
    {% endfor %}
    
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
    
  </form>
{% endblock %}