{% extends "base.html" %}

{% block main %}
<legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
  <h1 class="nhsuk-fieldset__heading">
    Select template
  </h1>
</legend>

{% include "error_summary.html" %}

<form action="/" method="post">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
        <div class="nhsuk-form-group nhsuk-form-group--error">
        {% endif %}
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="id_{{ field.name }}" id="id_label_{{ field.name }}">
              <a name="{{ field.label }}"></a>{{ field.label }}
            </label>
            {{ field }}
          </div>
        {% if field.errors %}
        </div>
      {% endif %}
    {% endfor %}

    <div class='formWrapper'>
        {{ templates_html|safe }}
    </div>


    <button class="nhsuk-button" data-module="nhsuk-button" type="submit" style="float: right;">
      Submit
    </button>
  </form>
    
{% endblock %}