{% extends "base.html" %}

{% load custom_filters %}

{% block main %}
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-6 mx-auto">
      <h2>{{ entry_type|title }} saved</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">

    {% include "project_side_bar.html" %}

 
    <div class="col-12 col-md-6">

      {% include "message_error.html" %}

      <div class="mb-3">
        The {{ entry_type }} has been saved,
        {% if entry_create_outcome.name %}named <strong>{{ entry_create_outcome.name }}</strong>,{% endif %}
        numbered <strong>{{ entry_create_outcome.id }}</strong>.
      </div>
      <div class="mb-3">Would you now like to:</div>
      <div class="mb-3">
        <a class="link-dcsp"
           href="/view_docs/{{ project_id }}{{ entry_create_outcome.hazard_url }}">View published {{ entry_type }}</a>
      </div>
      <div class="mb-3">
        <a class="link-dcsp" href="">Edit the same {{ entry_type }}</a>
      </div>
      <div class="mb-3">
        <a class="link-dcsp" href="">Create another {{ entry_type }}</a>
      </div>
 
    </div>
    <div class="col">
      <i>Placeholder</i>
	
    </div>
  </div>

  <script>
    var labelsForCalculations = {{ form.labels_for_calculations|safe }};
    var calculationField = {{ form.calculation_field|safe }};


    function handleFieldChange(event) {
      var calculationKey = {};
      var searchKey = "";
      var calculation_output = "";

      for (var key in labelsForCalculations) {
        var changedValue = document.getElementById(key).value.split('.')[0];
        if (changedValue == ""){
          changedValue = 0
        }

        calculationKey[labelsForCalculations[key]] = changedValue;
        
      }

      for (const element of calculationField) {
        searchKey = ""
        var matched = false;
        var calculationFieldID = document.getElementById(element["id"]);

        //console.log(element);
        for (const [key, value] of Object.entries(element["monitor_labels"])) {
          for (const [key2, value2] of Object.entries(calculationKey)) {
            if (key2 == value){
              searchKey += key2 + value2 + "-"
            }
          }
        }

        if (searchKey.endsWith('-')) {
          searchKey = searchKey.slice(0, -1);
        }

        for (const [key3, value3] of Object.entries(element["choices"])) {
          if (value3.includes(searchKey)){
            calculationFieldID.value = key3;
            matched = true;
            break;
          }
        }

        if (matched == false){
          calculationFieldID.value = "";
        }
      }
    }

    for (var key in labelsForCalculations) {
      const field = document.getElementById(key);
      if (field) {
        field.addEventListener('change', handleFieldChange);
      }
    }

  </script>
{% endblock %}
