{% extends "base.html" %}

{% load custom_filters %}

{% block main %}
  <div class="row">

    {% include "project_side_bar_left.html" %}

    <div class="col-12 col-md-6">

      {% include "message_error.html" %}

      <div class="mb-3">
        The {{ entry_type }} has been saved,
        {% if entry_update_outcome.name %}named <strong>{{ entry_update_outcome.name }}</strong>,{% endif %}
        numbered <strong>{{ entry_update_outcome.id }}</strong>.
      </div>
      <div class="mb-3">Would you now like to:</div>
      <div class="mb-3">
        <a class="link-dcsp"
           id="id_link_entry_saved"
           onclick="url_click('{% url "view_docs" project_id entry_update_outcome.entries_url %}')">Published view</a>
      </div>
      <div class="mb-3">
        <a class="link-dcsp"
           href="{% url 'entry_update' project_id entry_type id_new %}">Edit the same {{ entry_type }}</a>
      </div>
      <div class="mb-3">
        <a class="link-dcsp"
           href="{% url 'entry_update' project_id entry_type 'new' %}">Create another {{ entry_type }}</a>
      </div>
    </div>
 
    {% include "project_side_bar_right.html" %}

  </div>

{% endblock main %}
