{% extends "base.html" %}

{% load custom_filters %}

{% block main %}
  <div class="row">
    <div class="col"></div>
    <div class="col-12 col-md-6 mx-auto">
      <h2>Edit hazard</h2>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">

    {% include "project_side_bar.html" %}

 
    <div class="col-12 col-md-6">

      {% include "message_error.html" %}

      <div class="mb-3">Please select a hazard from below to edit.</div>
      {% for hazard in hazards %}
        <p>
          <a class="link-dcsp"
             href="/entry_update/{{ project_id }}/hazard/{{ hazard.0.number }}">
            <strong>Hazard {{ hazard.0.number }}</strong>
          - {{ hazard.1.text }}</a>
          <br>
        </p>
      {% endfor %}
    </div>
    <div class="col">
      <i>Placeholder</i>
	
    </div>
  </div>
{% endblock %}
