{% extends "base.html" %}

{% load custom_filters %}

{% block main %}
    <div class="row">

        {% include "project_side_bar_left.html" %}

        <div class="col-12 col-lg-6">

            {% include "message_error.html" %}
 
            {% if entries %}
                <div class="mb-3">Please select {{ entry_type|a_an }} {{ entry_type|kebab_to_sentense }} from below to edit.</div>
                {% for entry in entries %}
                    <p>
                        <a class="link-dcsp"
                           href="{% url 'entry_update' project_id entry_type entry.0.number %}">
                            <strong>{{ entry_type|kebab_to_sentense }} {{ entry.0.number }}</strong> -
                            {{ entry.0.name }}
                        </a>
                        <br>
                    </p>
                {% endfor %}
            {% else %}
                There are currently no {{ entry_type|kebab_to_sentense }} entries.
            {% endif %}
        </div>

        {% include "project_side_bar_right.html" %}

    </div>
{% endblock main %}
