{% extends "base.html" %}

{% load static %}

{% block main %}
    <div class="row">
        <div class="col d-none d-md-block">
            <img src="{% static 'media/lady-and-computer-from-behind.jpg' %}"
                 class="img-fluid"
                 alt="Picture of lady from behind and computer"
                 width="4000"
                 height="6000">
        </div>
        <div class="col-12 col-md-6">
            <p>
                Welcome to the Digital Clinical Safety Platform (DCSP). This DCSP is
                an application that is currently in the develpment stage. The app is
                being built by the Digital Clinical Safety Alliance.
            </p>
            <p>
                The ultimate aim of the DCSP is to streamline and automate the
                process of clinical safety documentation of digital systems used in
                healthcare. It is also designed to engrain and also simplify the
                documentation and thought processes around improved clinical safety
                from the code up to upper management.
            </p>
            <p>
                If you want to know more about the DCSP, or see a live demo, then
                please email [dcsp](mailto:dcsp.information@gmail.com).
            </p>
        </div>
        <div class="col d-none d-md-block">
            <img src="{% static 'media/MRI head.jpg' %}"
                 class="img-fluid"
                 alt="MRI head"
                 width="3442"
                 height="5163">
        </div>
    </div>
 
{% endblock main %}
