{% extends "base.html" %}

{% block main %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
    function update_web_view() {
        var placeholders = {{ placeholders | safe }};
        var md_text = document.getElementById("id_md_text");
        var web_view = document.getElementById("id_web_view");
        var event = new Event("change");
        //var inputString = md_text.value
        var inputString = md_text.value.replace(/---[\s\S]*?---/, '');
        for (var key in placeholders) {
            {% verbatim %}
                var placeholder = "{{ " + key + " }}";
            {% endverbatim %}
            var value = "<span class='text-black'>" + placeholders[key] + "</span>";
            inputString = inputString.replaceAll(placeholder, value)
        }

        web_view.innerHTML = marked.parse(inputString);
        web_view.dispatchEvent(event);

        web_view.style.height = "auto";
        md_text.style.height = "auto";

        var web_viewHeight = web_view.scrollHeight;
        var md_textHeight = md_text.scrollHeight;

        var maxHeight = Math.max(web_viewHeight, md_textHeight);
        web_view.style.height = maxHeight + "px";
        md_text.style.height = maxHeight + "px";
    }
    </script>

    <h2>Edit</h2>
    <p>
        Please note: you cannot add placeholders in the meta field (eg between the
        '---' markers). Placeholders will be converted to their true values and
        coloured grey in the webview.
    </p>
    <p>
        Add a new page <a href="/md_new">here</a>
        <p>

            {% include "message_error.html" %}

            {% include "error_summary.html" %}

            <form action="/md_edit/{{ project_id }}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <!--{{ MDFileSelectForm }}-->
                    {% for field in MDFileSelectForm %}
                        <div class="mb-3">
                            <label class="form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                </div>
            </form>

            <form action="/md_saved/{{ project_id }}" method="post">
                {% csrf_token %}
                <input type="hidden" id="id_document_name" value="{{ document_name }}" />
                <div class="row align-items-start">
                    <div class="col">
                        {{ form.document_name }}
                        <div class="mb-3">
                            <label class="form-label"
                                   for="id_{{ field.name }}"
                                   id="id_label_{{ field.name }}">
                                <strong>{{ form.md_text.label | safe }}</strong>
                            </label>
                            {{ form.md_text }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label class="form-label" for="id_web_view">
                                <b>Web view</b>
                            </label>
                            <div class="form-control field-color-dcsp font-dcsp border-info"
                                 id="id_web_view"></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary" type="submit" style="float: right">Save</button>
            </form>
            <script>
            // Need this function call here to stop page jittering
            update_web_view();
            </script>
        {% endblock %}
