{% extends "base.html" %}

{% block main %}
  <div class="col-md-6 mx-auto">
    <div class="{{FORM_ELEMENTS_MAX_WIDTH}}">
      <h1>
        Please enter placeholders
      </h1>

      {% include "error_summary.html" %}


      <form action="/" method="post">
        {% csrf_token %}

        {% for field in form %}
          <div class="mb-3">
            <label class="form-label" for="id_{{ field.name }}" id="id_label_{{ field.name }}">
              {{ field.label | safe }}
            </label>
            {{ field }}
            {% if field.errors %}
              {% for error in field.errors %}
                <div id="id_{{ field.name }}" class="invalid-feedback">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}



        <button class="btn btn-primary" type="submit" style="float: right;">
          Submit
        </button>
        
      </form>
    </div>
  </div>
  
    
{% endblock %}