{% extends "base.html" %}

{% block main %}
    <div class="row">

        {% include "project_side_bar_left.html" %}

        <div class="col-12 col-lg-6">

            {% include "message_error.html" %}

            <p>
                Use this page to build the safety documents afresh (useful if you
                have changed code outside of the DCSP application).
            </p>

            {% if build_output %}
                <div class="row">
                    <form id="id_form"
                          action="{% url 'project_build_asap' project_id %}"
                          method="post">
                        {% csrf_token %}

                        <div class="right">
                            <button class="btn btn-secondary"
                                    type="submit"
                                    id="id_button"
                                    onclick="submitForm()">Build</button>
                        </div>
                    </form>
                </div>

                <div class="mb-1">
                    <h4>Build output</h4>
                    <div class="p-2 mb-2 field-color-dcsp font-dcsp border border-info rounded-1">{{ build_output | safe }}</div>
                </div>
            {% endif %}

            <form id="id_form"
                  action="{% url 'project_build_asap' project_id %}"
                  method="post">
                {% csrf_token %}

                <div class="right">
                    <button class="btn btn-secondary"
                            type="submit"
                            id="id_button"
                            onclick="submitForm()">Build</button>
                </div>
            </form>
        </div>

        {% include "project_side_bar_right.html" %}
 
    </div>
{% endblock main %}
