{% extends "base.html" %}

{% block main %}
    <div class="row">

        {% include "project_side_bar_left.html" %}

        <div class="col-12 col-md-6">

            {% include "message_error.html" %}

            <p>
                You have now completed the set up for your clinical safety
                documentation. Please click on the button below to view these pages
            </p>

            <form id="id_form"
                  action="{% url 'view_docs' project_id 'index.html' %}"
                  method="post">
                {% csrf_token %}

                <button id="id_button"
                        onclick="submitForm()"
                        class="btn btn-secondary right"
                        type="submit">View published documents</button>
            </form>
        </div>
        <div class="col">
            <h5>Latest activity:</h5>
            <ul>
                <li>Activity 1</li>
                <li>Activity 2</li>
                <li>Activity 3</li>
            </ul>
        </div>
    </div>
{% endblock main %}
