{% extends "base.html" %}

{% block main %}
  <div class="col-md-6 mx-auto">
    <div class="{{FORM_ELEMENTS_MAX_WIDTH}}">
      <h1>
        Select template
      </h1>

      {% include "error_summary.html" %}

      <form action="/" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% if field.errors %}
            {% endif %}
              <div class="mb-3">
                <label class="form-label" for="id_{{ field.name }}" id="id_label_{{ field.name }}">
                  <a name="{{ field.label }}"></a>{{ field.label }}
                </label>
                {{ field }}
              </div>
            {% if field.errors %}
          {% endif %}
        {% endfor %}

        <div class='formWrapper'>
            {{ templates_html|safe }}
        </div>


        <button class="btn btn-primary" type="submit" style="float: right;">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}