.main_container {
    padding: 20px;
  }

.pad_10 {
    padding: 10px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-50 {
    max-width: 50px;
}

/* For the loading animation */
.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 120px;
    height: 120px;
}

#loading-icon {
    display: none;
}

#submit-btn:disabled {
    cursor: not-allowed;
}

#loading-icon.show {
    display: inline-block;
}

.loader {
    border: 16px solid #61e5f9;
    border-radius: 50%;
    border-top: 16px solid #3c3f58;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
  /* TODO need to get this to work in Safari */
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disabled_link {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.no-pointer-cursor {
  cursor: auto;
}

.pointer-cursor {
    cursor: pointer;
}

.background-dcsp {
    background-color:#1e2129;
}

.padding-20-dcsp {
    padding-left: 20px;
}

.bar-dcsp {
    background-color: #4051b5;
}

.footer-dcsp {
    background-color: #16181dde;
}

.font-dcsp, .link-dcsp, .field-color-dcsp:focus, .font-black-dcsp, .link-black-dcsp,
.font-white-dcsp, .link-white-dcsp, .title-dcsp  {
    font-family: Roboto, -apple-system;
}

.font-dcsp, .link-dcsp, .field-color-dcsp:focus {
    color: #e2e4e9d1;
    -webkit-font-smoothing: antialiased;
}

.link-dcsp, .link-white-dcsp {
    text-decoration: none;
    cursor: pointer;
}

.link-dcsp:hover, .font-black-dcsp:hover {
    color: #5679d4d1;
}

.font-main-size-dcsp {
    font-size: 14px;
}

.font-18-dcsp {
    font-size: 18px;
}

.font-white-dcsp, .link-white-dcsp, .title-dcsp, .link-black-dcsp:hover {
    color: #ffffff;
}

.font-black-dcsp, .link-black-dcsp {
    color: #000000;
}

.link-white-dcsp {
    cursor: pointer;
}

.link-white-dcsp:hover {
    color: #56d4bdd1;
}

.field-color-dcsp, .field-color-dcsp:focus {
    background-color: #424a48d1;
}

.title-dcsp {
    font-size: 20px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #e2e4e9d1;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e2e4e9d1;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #e2e4e9d1;
}

