.main_container {
    padding: 20px;
  }

.pad_10 {
    padding: 10px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-50 {
    max-width: 50px;
}

/* For the loading animation */
.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 120px;
    height: 120px;
}

#loading-icon {
    display: none;
}

#submit-btn:disabled {
    cursor: not-allowed;
}

#loading-icon.show {
    display: inline-block;
}

.loader {
    border: 16px solid #61e5f9;
    border-radius: 50%;
    border-top: 16px solid #3c3f58;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
  /* TODO need to get this to work in Safari */
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.disabled_link {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
}