.main_container {
    padding: 20px;
  }

.pad_10 {
    padding: 10px;
}

.max-w-800 {
    max-width: 800px;
}

.max-w-700 {
    max-width: 700px;
}

.max-w-600 {
    max-width: 600px;
}

.max-w-400 {
    max-width: 400px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-50 {
    max-width: 50px;
}

/* For the loading animation */
.loading-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .loader {
    width: 120px;
    height: 120px;
  }
  
  /* Hide the loader when the page is loaded */
  body.loaded .loading-container {
    display: none;
  }

.disabled_link {
    color: currentColor;
    opacity: 0.5;
    text-decoration: none;
 }