name: cicd
on:
  push:
    branches:
      - master 
      - main
permissions:
  contents: write

jobs:
  Image-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push image using cache
        uses: docker/build-push-action@v5
        with:
          context: ./dockerfiles/app/
          file: ./dockerfiles/app/Dockerfile
          tags: cotswoldsmaker/dcsp:latest
          push: true
          #cache-from: type=gha
          #cache-to: type=gha,mode=max
      
      - name: Testing inside Docker container
        run: >
          DJANGO_SECRET_KEY='${{ secrets.DJANGO_SECRET_KEY }}' 
          ALLOW_HOSTS='${{ secrets.ALLOW_HOSTS }}' 
          docker-compose -f docker-compose-cicd.yml up --exit-code-from docs-builder-cicd
  
  mkdocs-documents:
    runs-on: ubuntu-latest
    needs: Image-build-and-test
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r ./mkdocs_dcsp/requirements_mkdocs_dcsp.txt
      - run: mkdocs gh-deploy --force --config-file './mkdocs_dcsp/mkdocs.yml'

          
      
      