<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Clinical Safety Plateform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/dcsp.css">


    <link rel="shortcut icon" href="/static/assets/favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/assets/favicons/favicon.ico">
    <link rel="mask-icon" href="/static/assets/favicons/favicon.ico" color="#005eb8">
    <link rel="icon" href="/static/assets/favicons/favicon-192x192.png">
</head>
<body class="bg-info bg-gradient bg-opacity-25">

  <!-- Loading animation -->
  <div class="loading-container">
    <div class="loader">
      <object type="image/svg+xml" data="/static/assets/gifs/Loading SD.svg">
        <img src="/static/assets/gifs/Loading SD.svg" />
      </object>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-primary bg-gradient border border-black">
    <div class="container-fluid">
      <a class="navbar-brand pad_10" href="/">
        <img src="/static/assets/favicons/favicon.ico" alt="DCSP icon" style="width:50px;height:50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            {% if mkdoc_running %}
              <a class="nav-link" href="/mkdoc_redirect/home" >
                MKDOC
              </a>
            {% else %}
              <div class="nav-link disabled">
                MKDOC
              </div>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if mkdoc_running %}
              <a class="nav-link" href="/md_edit">
                Edit documents
              </a>
            {% else %}
              <div class="nav-link disabled">
                Edit documents
              </div>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if mkdoc_running %}
              <a class="nav-link" href="/hazard_log">
                Log hazard
              </a>
            {% else %}
              <div class="nav-link disabled">
                Log hazard
              </div>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if mkdoc_running %}
              <a class="nav-link" href="/hazards_open">
                Open hazards
              </a>
            {% else %}
              <div class="nav-link disabled">
                Open hazards
              </div>
            {% endif %}
          </li>
          <li class="nav-item">
            {% if mkdoc_running %}
              <a class="nav-link" href="/upload_to_github">
                Upload to Github
              </a>
            {% else %}
              <div class="nav-link disabled">
                Upload to Github
              </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="fade-out-element"> 
    <div class="main_container">
      
      <div class="col-md-6 mx-auto">
        <div class="{{FORM_ELEMENTS_MAX_WIDTH}}">
          {% if messages %}
            <div class="p-3 mb-3 text-bg-warning rounded-3 {{ FORM_ELEMENTS_MAX_WIDTH }}">
              <ul style="max-width: 100%">
                {% for message in messages %}
                  <div style="width:100%">
                    <strong><li>{{ message }}</li></strong>
                  </div>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>


      {% block main %}{% endblock %}


      {% if START_AFRESH %}
        Developer: <a href="/start_afresh">Start afresh!</a>
      {% endif %}
      
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-primary bg-gradient border border-black">
      Extra details
    </div>
    <div class="card-body">
      <p><a href="/" class="card-link">Placeholder 1</a></p>
      <p><a href="/" class="card-link">Placeholder 2</a></p>
      <p><a href="/" class="card-link">Placeholder 3</a></p>
      
    </div>
  </div>

  <script>
    var element = document.querySelector('.fade-out-element'); 
    function fadeOut(el) {
      var opacity = 1; // Initial opacity
      var interval = setInterval(function() {
          if (opacity > 0) {
            opacity -= 0.1;
            el.style.opacity = opacity;
          } else {
            clearInterval(interval); // Stop the interval when opacity reaches 0
            //el.style.display = 'none'; // Hide the element
          }
      }, 50);
    }
  </script>

  <script>
    document.body.classList.add('loaded');
    window.onbeforeunload = function(e){
      document.querySelector('.loading-container').style.display = 'block'
      fadeOut(element);
    }
  </script>   
    
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>

  </body>
</html>
