<!DOCTYPE html>
<html lang="en">
<head>
    <title>Digital Clinical Safety Plateform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/dcsp.css">


    <link rel="shortcut icon" href="/static/assets/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/static/assets/favicons/favicon.ico">
    <link rel="mask-icon" href="/static/assets/favicons/favicon.ico" color="#005eb8">
    <link rel="icon" type="image/png" href="/static/assets/favicons/favicon-16x16.png">
</head>
<body class="bg-info bg-gradient bg-opacity-25">

  <div id="loading-container2">
    <div class="loading-icon"></div>
  </div>

  <!-- Loading animation -->
  <div class="loading-container">
    <div class="loader">
      <object type="image/svg+xml" data="/static/assets/animations/Loading SD.svg">
        <img src="/static/assets/animations/Loading SD.svg" />
      </object>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg bg-primary bg-gradient border border-black">
    <div class="container-fluid">
      <a class="navbar-brand pad_10" href="/">
        <img src="/static/assets/favicons/favicon.ico" alt="DCSP icon" style="width:50px;height:50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% if not request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/" >
                Home
              </a>
            </li>
          {% endif %}

          {% if request.user.is_authenticated %}
          <li class="nav-item">
              <a class="nav-link" href="/settings" >
                settings
              </a>
          </li>
          {% endif %}


          <li class="nav-item">
            {% if request.user.is_authenticated %}
              <a class="nav-link" href="/accounts/logout">
                logout
              </a>
            {% else %}
              <a class="nav-link" href="/accounts/login">
                login
              </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="fade-out-element"> 
    <div class="main_container">
      <div style="text-align:right;">
        {% if request.user.is_authenticated %}
          Logged in: <strong>{{ request.user.username }}</strong>
        {% else %}
          Logged out
        {% endif %}
      </div>
      <div class="col-md-6 mx-auto">
        <div class="{{FORM_ELEMENTS_MAX_WIDTH}}">
          {% if messages %}
            <div class="p-3 mb-3 text-bg-warning rounded-3 {{ FORM_ELEMENTS_MAX_WIDTH }}">
              <ul style="max-width: 100%">
                {% for message in messages %}
                  <div style="width:100%">
                    <strong><li>{{ message }}</li></strong>
                  </div>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      </div>


      {% block main %}{% endblock %}


      {% if request.user.is_authenticated %}
        {% if START_AFRESH %}
          Developer: <a href="/start_afresh">Start afresh!</a>
        {% else %}
          Production environment
        {% endif %}
      {% endif %}
      
    </div>
  </div>
  
  <div class="card">
    <div class="card-header bg-primary bg-gradient border border-black">
      Extra details
    </div>
    <div class="card-body">
      <p><a href="/" class="card-link">Placeholder 1</a></p>
      <p><a href="/" class="card-link">Placeholder 2</a></p>
      <p><a href="/" class="card-link">Placeholder 3</a></p>
      
    </div>
  </div>

  <style>
    body {
        margin: 0;
        font-family: Arial, sans-serif;
    }

    #loading-container2 {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    .loading-icon {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
  </style>

  <script>
    var element = document.querySelector('.fade-out-element'); 

    function fadeOut(el) {
      var opacity = 1; // Initial opacity
      var interval = setInterval(function() {
          if (opacity > 0) {
            opacity -= 0.1;
            el.style.opacity = opacity;
          } else {
            clearInterval(interval); // Stop the interval when opacity reaches 0
            //el.style.display = 'none'; // Hide the element
          }
      }, 50);
    }
    
    document.body.classList.add('loaded');
    /*window.onbeforeunload = function(e){
      document.querySelector('.loading-container').style.display = 'block';
      fadeOut(element);
    }*/

    document.addEventListener("DOMContentLoaded", function () {
      // Hide the loading container once the page is loaded
      document.getElementById("loading-container2").style.display = "none";
    });

  </script>   
    
  <!-- Bootstrap JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>
  
  </body>
</html>
