<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digital Clinical Safety Plateform</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="/static/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/dcsp.css">


    <link rel="shortcut icon" href="/static/assets/favicons/favicon.ico">
    <link rel="apple-touch-icon" href="/static/assets/favicons/favicon.ico">
    <link rel="mask-icon"
          href="/static/assets/favicons/favicon.ico"
          color="#005eb8">
    <link rel="icon"
          type="image/png"
          href="/static/assets/favicons/favicon-16x16.png">

  </head>
  <body class="bg-info bg-gradient bg-opacity-25">

    <nav class="navbar navbar-expand-lg bg-primary bg-gradient border border-black">
      <div class="container-fluid">
        <a class="navbar-brand pad_10" href="/">
          <img src="/static/assets/favicons/favicon.ico"
               alt="DCSP icon"
               style="width:50px;
                      height:50px">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            {% if not request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
            {% endif %}

            {% if request.user.is_authenticated %}
              {% if nav_top %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'project_documents' project_id %}">Overview</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'view_docs' project_id 'index.html' %}">Published view</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'project_build_asap' project_id %}">Build ASAP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'setup_documents' project_id %}">Placeholders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'md_edit' project_id %}">Edit document</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'hazard_new' project_id %}">New hazard</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">View hazards</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Submit incident</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">View incidents</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Compliance signoff</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link">Repository save</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'settings'}">settings</a>
              </li>
            {% endif %}


            <li class="nav-item">
              {% if request.user.is_authenticated %}
                <a class="nav-link" href="/accounts/logout">logout</a>
              {% else %}
                <a class="nav-link" href="/accounts/login">login</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="fade-out-element">
      <div class="main_container">
        <div style="text-align:right;">
          {% if request.user.is_authenticated %}
            Logged in: <strong>{{ request.user.username }}</strong>
          {% else %}
            Logged out
          {% endif %}
        </div>

 

        {% block main %}{% endblock %}

        <div class="loading-container" id="loading-icon">
          <div class="loader"></div>
        </div>

        {% if request.user.is_authenticated %}
          {% if START_AFRESH %}
            Developer: <a href="/start_afresh">Start afresh!</a>
          {% else %}
            Production environment
          {% endif %}
        {% endif %}

      </div>
    </div>

    <div class="card">
      <div class="card-header bg-primary bg-gradient border border-black">Extra details</div>
      <div class="card-body">
        <p>
          <a href="/" class="card-link">Placeholder 1</a>
        </p>
        <p>
          <a href="/" class="card-link">Placeholder 2</a>
        </p>
        <p>
          <a href="/" class="card-link">Placeholder 3</a>
        </p>

      </div>
    </div>

    <script src="/static/js/dcsp.js"></script>
 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.js"></script>

  </body>
</html>
