{% load custom_filters %}

{% if messages|has_tag:'success' %}
  <div class="p-3 mb-3 field-color-dcsp border border-info rounded-3 {{ FORM_ELEMENTS_MAX_WIDTH }}">
    <ul class="max-w-100pc">
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="max-w-100pc">
            <strong>
              <li>{{ message }}</li>
            </strong>
          </div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}

{% if messages|has_tag:'error' %}
  <div class="p-2 mb-3 bg-danger rounded-3 {{ FORM_ELEMENTS_MAX_WIDTH }}">
    <ul class="max-w-100pc">
      {% for message in messages %}
        {% if message.tags == 'error' %}<div class="text-light fw-bold max-w-100pc">{{ message }}</div>{% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
