<div class="col">
    <div class="pb-2 font-dcsp">
        <b>{{ project_name }}</b>
    </div>
    <div class="pb-2">
        <a class="link-dcsp" href="{% url 'project_documents' project_id %}">Overview</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp"
           href="{% url 'view_docs' project_id 'index.html' %}">Published view</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp" href="{% url 'project_build_asap' project_id %}">Build ASAP</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp" href="{% url 'setup_documents' project_id %}">Placeholders</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp" href="{% url 'md_edit' project_id %}">Edit document</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp"
           href="{% url 'entry_update' project_id 'hazard' 'new' %}">New hazard</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp" href="{% url 'entry_select' project_id %}">Edit hazard</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp">Submit incident</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp">View incidents</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp">Compliance signoff</a>
    </div>
    <div class="pb-2">
        <a class="link-dcsp">Repository save</a>
    </div>
</div>
