<div class="col">
    <div class="pb-2">
        <b>{{ project_name }}</b>
    </div>
    <div class="pb-2">
        <a class="link-offset-1" href="{% url 'project_documents' project_id %}">Overview</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1"
           href="{% url 'view_docs' project_id 'index.html' %}">Published view</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1"
           href="{% url 'project_build_asap' project_id %}">Build ASAP</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1" href="{% url 'setup_documents' project_id %}">Placeholders</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1" href="{% url 'md_edit' project_id %}">Edit document</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1" href="{% url 'hazard_new' project_id %}">New hazard</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1">View hazards</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1">Submit incident</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1">View incidents</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1">Compliance signoff</a>
    </div>
    <div class="pb-2">
        <a class="link-offset-1">Repository save</a>
    </div>
</div>
